.square {
    background: gray;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.wall {
        background-color: rgb(39, 38, 38, 0.9);
    }

    &.start { 
        background-color: #d9534f;
    }

    &.finish { 
        background-color: #5cb85c;
    }

    #player {
        animation: fadeIn 200ms;
        height: 18px;
        width: 18px;
        background-color: #0275d8;
        border-radius: 50%;
        display: inline-block;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}